<footer class="footer">
    <div class="row">
        <div class="col col-md-4">
            <div class="logo">
                <i class="fas fa-code"></i>
                <h2>WebCoder</h2>
            </div>
        </div>

        <div class="col col-md-4">
            <ul>
                <li><a href="#"></a>link #1</li>
                <li><a href="#"></a>link #2</li>
                <li><a href="#"></a>link #3</li>
                <li><a href="#"></a>link #4</li>
                <li><a href="#"></a>link #5</li>
                <li><a href="#"></a>link #6</li>
            </ul>
        </div>
        
        <div class="col col-md-4">
            <ul>
                <li><a href="#"></a>link #1</li>
                <li><a href="#"></a>link #2</li>
                <li><a href="#"></a>link #3</li>
                <li><a href="#"></a>link #4</li>
                <li><a href="#"></a>link #5</li>
                <li><a href="#"></a>link #6</li>
            </ul>
        </div>
    </div>
</footer>