<header class="header">
    <h1>WebCoder</h1>
    <div class="signin"><a href="user/login">Sign in</a></div>
    
    <nav class="navbar">
        <ul>
            <li class="hvr-underline-from-left"><a href="/">Home</a></li>
            <li class="hvr-underline-from-left">Tutorials</li>
            <li class="hvr-underline-from-left"><a href="/posts">Posts</a></li>
            <li class="hvr-underline-from-left"><a href="/about">About</a></li>
        </ul>
        <div class="tutorials__posts">
            
        </div>
        <form class="search">
            <input type="text" name="search" placeholder="search"/>
            <button><i class="fas fa-search"></i></button>
        </form>
    </nav>
</header>