<header class="header">
    <h1>WebCoder</h1>
    <div class="signin"><a href="user/login">Sign in</a></div>
    
    <nav class="navbar">
        <ul>
            <li><a class="hvr-underline-from-left" href="/">Home</a></li>
            <li><a class="hvr-underline-from-left" href="#">Tutorials</a></li>
            <li><a class="hvr-underline-from-left" href="/posts">Posts</a></li>
            <li><a class="hvr-underline-from-left" href="/about">About</a></li>
        </ul>
        <form class="search">
            <input type="text" name="search" placeholder="search"/>
            <button><i class="fas fa-search"></i></button>
        </form>
    </nav>
</header>