* {
    padding: 0;
    margin: 0;
}

body {
    background-image: url("/src/img/login.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: Arial, Helvetica, sans-serif;
}

.login__page {
    width: 360px;
    background: #2525259a;
    margin: 10rem auto 0;
}

.forms {
    width: 100%;
    padding: 50px;
    box-sizing: border-box;
    margin: 0 0 0 10px;
}

.signin, .signup  button {
    display: block;
}

.disabled {
    display: none;
    transition: 1s;
}

.signin input, .signup input {
    width: 250px;
    height: 40px;
    margin-bottom: 10px;
    border: none;
    color: #fff;
    background: #b6b6b68c;
    font-size: 14pt;
    padding-left: 35px;
    padding-right: 10px;
    box-sizing: border-box;
    border-radius: 20px;
}

.signin input[type="password"], 
.signup input[type="password"] {
    padding-right: 30px;
}

.signin input:focus,
.signup input:focus {
    border: 2px solid #b4b4b4;
    background: rgba(255, 255, 255, 0.226);
}

.signin input:hover,
.signup input:hover {
    background: rgba(255, 255, 255, 0.226);
    transition: background 0.3s;
}

.signin, .signup {
    position: relative;
}

/*ICONS*/

.fa-user,
.fa-key,
.fa-eye,
.fa-redo,
.fa-envelope,
.fa-eye-slash {
    position: absolute;
    font-size: 16pt;
    color: #eee;
}

.signin .fa-user {
    left: 9px;
    top: 10px;
}

.signup div {
    position: absolute;
}

.signup .fa-user {
    left: 9px;
    top: 110px;
}


.signin .fa-eye,
.signin .fa-eye-slash {
    right: 15px;
    top: 60px;
    cursor: pointer;
}

.signin .fa-key {
    left: 9px;
    top: 60px;
}

.signup .fa-envelope {
    left: 9px;
    top: 160px;
}

.signup .fa-key {
    left: 9px;
    top: 210px;
}

.signup .fa-eye,
.signup .fa-eye-slash {
    right: 15px;
    top: 210px;
    cursor: pointer;
}


.signup .fa-redo {
    left: 9px;
    font-size: 14pt;
    top: 260px;
}


.btn__login {
    width: 150px;
    height: 40px;
    border: none;
    font-size: 16pt;
    margin: 0 50px;
    color: #fff;
    margin-bottom: 10px;
    background: #3b3b3b;
    border-radius: 20px;
    cursor: pointer;
}

.signin .btn__login:hover,
.signin .btn__login:active,
.signin .btn__login:focus {
    background: rgba(54, 134, 255, 0.699);
    transition: 0.3s;
}

.signup .btn__login:hover,
.signup .btn__login:active,
.signup .btn__login:focus {
    background: rgba(54, 255, 71, 0.699);
    transition: 0.3s;
}

/*END ICONS*/

.message {
    color: rgba(255, 255, 255, 0.493);
}

.message a {
    text-decoration: none;
    color: #ffffff;
    cursor: pointer;
}

.message a:hover {
    color: #b4b4b4;
    transition: 0.3s;
}

.background {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  z-index: -1;
}

.arrow__box {
	position: absolute;
	background: #3b3b3b;
    border-radius: 3px;
    right: 22%;
    opacity: 0;
    transition: opacity 0.3s;
    top: 56%;
}

.arrow__box:after {
	right: 100%;
	top: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-right-color: rgba(255, 222, 222, 0);
	border-right-color: #1a1a1a;
	border-width: 10px;
	margin-top: -10px;
}

.requirements {
    position: relative;
    padding: 20px;
}

.requirements li {
    font-size: 10pt;
    color: #ff6a6a;
}