* {
    padding: 0;
    margin: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #333333;
}

/*Header and nav*/
.header {
    background: url(../img/header.jpg) center no-repeat;
    background-size: cover;
    width: 100%;
    height: 15rem;
    color: #fff;
    background-color: rgb(31, 31, 31);
}

.header h1 {
    font-size: 40pt;
    width: 1px;
    position: relative;
    left: 3rem;
    top: 30%;
}

.dropdown {
    background-color: rgb(31, 31, 31);
    position: absolute;
    top: 3.3rem;
    left: -5rem;
    width: 1345px;
    border-top: 2px solid rgba(110, 110, 110, 0.671);
    box-shadow: 0px -1px 5px 0px rgba(0, 0, 0, 0.438);
    height: 200px;
    visibility: hidden;
    z-index: 10;
}

.tech:hover .dropdown {
    border-top: 2px solid rgba(255, 255, 255, 0.671);
    transition: border 0.3s;
    visibility: visible;
}

.list__container {
    position: relative;
    top: 5rem;
}

.tech__title {
    position: absolute !important;
    top: 10px !important;
    left: 20px !important;
    font-size: 23pt !important;
    color: rgb(255, 255, 255);
}

.tech__item {
    float: left;
    line-height: 0px !important;
    margin-bottom: 40px;
}

.tech__item a {
    padding: 10px 20px !important;
    color: #fff;
    font-weight: bolder;
    text-decoration: none;
    background: #3333339a;
    transition: background 0.5s;

}

.tech__item a:hover {
    color: #000000;
    background: #ffffff;
    transition: 0.5s;
}

.navbar ul li {
    float: left;
    list-style: none;
    position: relative;
    line-height: 50px;
    left: 10px;
    cursor: pointer;
    margin-right: 5px;
}

.navbar {
    width: 100%;
    background-color: #202020;
    height: 50px;
    position: relative;
    top: 9.5rem;
}

.navbar li a {
    padding: 0px 10px;
    color: #fff;
    text-decoration: none;
}

form {
    position: relative;
}

.navbar input {
    position: absolute;
    right: 2rem;
    top: 7px;
    font-size: 17px;
    background-color: #383838;
    border: 1px solid #202020;
    width: 16%; height: 35px;
    border-radius: 5px;
    display: block;
    color: #fff;
    padding: 5px 30px 5px 10px;
    transition: background-color 0.3s;
}

.navbar input:hover, .navbar input:focus {
    background-color: rgba(255, 255, 255, 0.226);
}

.search button {
    background: transparent;
    border: none;
    display: block;
    color: #fff;
    font-size: 15pt;
    position: absolute;
    right: 2.5rem;
    cursor: pointer;
    line-height: 50px;
    transition: color 0.4s;
}

.search button:hover {
    color: #000000;
    transition: color 0.4s;
}


.signin a {
    position: absolute;
    top: 3px;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    right: 10px;
    padding: 10px 30px;
    background: #3f3f3f;
    transition: 0.5s;
}

.signin a:hover {
    color: #252525;
    background: #eeeeee;
    transition: 0.5s;
}




/* End Header and nav*/

/*Main Content*/
main {
    margin-top: 50px;
}


.main__title {
    margin-bottom: 10px;
    color: white;
    text-transform: uppercase;
    font-size: 11px;
    width: 100%;
    border-bottom: 2px solid rgba(110, 110, 110, 0.671);
}

.main__title h1 {
    margin-bottom: 5px;
}



.content {
    max-width: 95%;
    margin: 0 auto;
}

.articles {
    margin-bottom: 15px;
    background-color: #202020;
    padding: 20px;
    border-radius: 5px;
}

.articles .img-scale {
    position: relative;
    overflow: hidden;
    background-color: #000000;
    margin-bottom: 10px; 
}

.articles img {
    display: block;
    width: 100%;
    height: 100%;
    transition: all 1s;
}

.articles img:hover {
    transform: scale(1.1);
}

.articles h1,p {
    margin-bottom: 10px; 
    color: #fff;
}

.btn {
    width: 10rem;
    height: 50px;
    color: #fff;
    text-align: center;
    font-size: 15pt;
    background-color: transparent;
    border: 2px solid  #444444;
    border-radius: 5px;
    transition: background 0.5s;
    right: 0;
}

.btn:hover {
    background: #383838;
}

.noposts {
    color: white;
    font-size: 12pt;
    margin-bottom: 10rem;
}

/*End Main Content*/


/*Side Bar*/
aside {
    margin-top: 50px;
    margin-bottom: 20px;
}

aside nav h1 {
    margin-bottom: 10px;
    color: white;
    text-transform: uppercase;
    font-size: 11px;
    padding-bottom: 5px;
    width: 100%;
    border-bottom: 2px solid rgba(110, 110, 110, 0.671);    
    font-size: 16pt;
}

aside div {
    background-color: rgb(31, 31, 31);
    padding: 20px;
    box-sizing: border-box;
}

aside nav {
    width: 100%;
}

aside nav li {
    margin-top: 10px;
    list-style: none;
    float: left;
}

aside nav li a {
    display: block;
    text-decoration: none;
    padding: 10px;
    color: #fff;
    margin-left: 0;
    transition: color .2s;
}

aside nav li i {
    font-size: 20px;
}

aside nav li:hover a {
    color: #999999;
}

.group:before,
.group:after {
	content: "";
	display: table;
}

.group:after {
	clear: both;
}

.group {
	zoom: 1;
}




/*End Side Bar*/


/*Footer*/

footer {
    background-color: #202020;
    width: 100%;
    height: 15rem;
    color: #fff;
}

footer div {
    margin-right: 0 !important;
}

footer .logo :nth-child(1) {
    font-size: 50pt;
    margin-left: 5rem;
    margin-bottom: 5px;
    margin-top: 2rem;
}

footer .logo :nth-child(2) {
    font-size: 25pt;
    margin-left: 3rem;
}

/*Pagination*/
.pagination {
    width: 15rem;
    position: relative;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 20px;
    font-size: 0;
    list-style-type: none;
}

.pagination li {
    display: inline-block;
    font-size: 14pt;
    color: white;
}

.pagination .current,
.pagination .limit {
    padding: 8px 15px;
    background: #3f3f3f;
}

.pagination .btn__prev, 
.pagination .btn__next {
    background: #3f3f3f;
    transition: 0.5s;
}

.pagination .btn__prev:hover, 
.pagination .btn__next:hover {
    color: #252525;
    background: #eeeeee;
    transition: 0.5s;
}

.pagination .btn__prev:hover a, 
.pagination .btn__next:hover a {
    color: #252525;
    transition: 0.5s;
}


.pagination li a {
    text-decoration: none;
    padding: 8px 15px;
    display: inline-block;
    color: white;
    transition: 0.5s;
}

.pagination li:not(.btn__next) {
    border-right: 1px solid #ffffff73;
}

.disabled {
    background: rgba(209, 209, 209, 0.836) !important;
    border-right: none !important;
    transition: none !important;
    cursor: default !important;
}

.disabled a {
    color: black !important;
    transition: none !important;
    cursor: default !important;
}

/*End Footer*/

@media screen and (max-width: 1024px) {
    aside {
        margin-top: 10px;
    }
}

.link{
  position: relative;
}

.link:after{
  content: '';
  position: absolute;
  width: 0; height: 3px;
  display: block;
  margin-top: -10px;
  right: 0;
  background: #fff;
  transition: width .2s ease;
  -webkit-transition: width .2s ease;
}
 
.link:hover:after{
  width: 100%;
  left: 0;
  background: #fff;
}