<!DOCTYPE html>
<html lang="en"/>
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <link rel="stylesheet" href="css/style.css"/>
    <link rel="stylesheet" href="./node_modules/font-mfizz/dist/font-mfizz.css"/>
    <link rel="stylesheet" href="./node_modules/hover.css/css/hover-min.css"/>
    <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
    <title>CodeWeb</title>
</head>
<body>
    {{> header}}

    <div class="container">
        <div class="row">
            <main class="main col col-md-9">
                <div class="main__title">
                    <h1 class="">About</h1>
                </div>
                
            </main>
  
            {{> aside}}
        </div>
    </div>
    {{> footer}}


    <script src="js/script.js"></script>
</body>
</html>