<div class="content">
    <div class="row">
        <main class="main col col-md-9">
            <div class="main__title">
                <h1 class="">About</h1>
            </div>
            
            <p>WebCoder is place where you can create and share new ideas to the dev community.</p>
        </main>

        {{> home/home-aside}}
    </div>
</div>
