<header class="header">
    <h1>WebCoder</h1>
    {{#if isLogged}}
        <div class="signin"><a href="{{dashboardLink}}">Dashboard</a></div>
    {{else}}
        <div class="signin"><a href="/auth">Sign in</a></div>
    {{/if}}
    
    <nav class="navbar">
        <ul class="menu__bar">
            <li class="link"><a href="/">Home</a></li>
            <li class="link tech">
                Tech
                <ul class="dropdown">
                    <h1 class="tech__title">Tech</h1>
                    <div class="list__container">
                        <li class="tech__item"><a href="#">Analysis</a></li>
                        <li class="tech__item"><a href="#">DevOps</a></li>
                        <li class="tech__item"><a href="#">Docker</a></li>
                        <li class="tech__item"><a href="#">FinTech</a></li>
                        <li class="tech__item"><a href="#">Java</a></li>
                        <li class="tech__item"><a href="#">JavaScript</a></li>
                        <li class="tech__item"><a href="#">Linux</a></li>
                        <li class="tech__item"><a href="#">Machine</a></li>
                        <li class="tech__item"><a href="#">Learning</a></li>
                        <li class="tech__item"><a href="#">NodeJS</a></li>
                        <li class="tech__item"><a href="#">PHP</a></li>
                        <li class="tech__item"><a href="#">Python</a></li>
                        <li class="tech__item"><a href="#">R</a></li>
                        <li class="tech__item"><a href="#">Raspberry</a></li>
                        <li class="tech__item"><a href="#">Pi</a></li>
                        <li class="tech__item"><a href="#">Spring</a></li>
                        <li class="tech__item"><a href="#">Unity</a></li>
                        <li class="tech__item"><a href="#">Virtual Reality</a></li>
                    </div>
                </ul>
            </li>
            <li class="link"><a href="/posts">Posts</a></li>
            <li class="link"><a href="/about">About</a></li>
        </ul>
            
        <form class="search">
            <input type="text" name="search" placeholder="search"/>
            <button><i class="fas fa-search"></i></button>
        </form>
    </nav>
</header>