<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <link rel="stylesheet" href="/src/css/style.css"/>
    <link rel="stylesheet" href="/scripts/bootstrap/dist/css/bootstrap-grid.min.css">
    <link rel="stylesheet" href="/scripts/font-mfizz/dist/font-mfizz.css"/>
    <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
    <title>WebCoder</title>
</head>