<aside class="aside col col-sm-12 col-md-3">
    <div>
        <nav class="navbar-aside">
            <h1>Tags</h1>
            <ul class="group">
                <li><a href="/posts/python"><i class="icon-python"></i> Python</a></li>
                <li><a href="/posts/php"><i class="icon-php-alt"></i> Php</a></li>
                <li><a href="/posts/javascript"><i class="fab fa-js-square"></i> Javascript</a></li>
                <li><a href="/posts/mongodb"><i class="icon-mongodb"></i> Mongodb</a></li>
                <li><a href="/posts/mysql"><i class="icon-mysql"></i> Mysql</a></li>
                <li><a href="/posts/nodejs"><i class="fab fa-node"></i> Node.js</a></li>
                <li><a href="/posts/go"><i class="icon-go-alt"></i> Go</a></li>
                <li><a href="/posts/ruby_on_rails"><i class="icon-ruby-on-rails-alt"></i> Ruby On Rails</a></li>
                <li><a href="/posts/unity"><i class="icon-unity"></i> Unity</a></li>
                <li><a href="/posts/perl"><i class="icon-perl"></i> Perl</a></li>
                <li><a href="/posts/java"><i class="icon-java"></i> java</a></li>
                <li><a href="/posts/angular"><i class="icon-angular"></i> Angular</a></li>
            </ul>
        </nav>
    </div>
</aside>