<div class="content">
    <div class="main__title">
        <h1 id="title">Posts</h1>
    </div>

    <main>
        <article class="post">
            
        </article>

        <ul class="pagination">
            <li class="btn__prev"><a href="/user/posts?page={{this.prev}}">prev</a></li>
            <li class="current">{{this.current}}</li>
            <li class="limit">{{this.limit}}</li>
            <li class="btn__next"><a href="/user/posts?page={{this.next}}">next</a></li> 
        </ul>
    </main>

    
</div>