<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/src/css/dashboard.css">
    <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>    
    <title>Dashboard</title>
</head>
<body>
    <nav class="navbar__top">
        <div class="logout"><a href="/logout">Log out</a></div>
    </nav>

    <div class="sidebar">
        <div class="btn"><i class="fas fa-align-left"></i></div>
        <div class="logo"><img src="https://avatars0.githubusercontent.com/u/38874366?s=460&v=4" alt=""></div>
        <h1 class="user">Cyrax</h1>
    
        <ul class="menu">
            <li><a href="/"><i class="fas fa-home"></i> Home</a></li>
            <li><a href="/user/dashboard/profile"> <i class="fas fa-user-circle"></i> User Profile</a></li>            
            <li><a href="/user/dashboard/newpost"><i class="fas fa-file"></i> New Post</a></li>
            <li><a href="/user/dashboard/posts"><i class="fas fa-newspaper"></i> Posts</a></li>
            <li><a href="/user/dashboard/settings"><i class="fas fa-cogs"></i> Settings</a></li>
        </ul>
    </div>

    <div class="content">
        <div class="main__title">
            <h1>Dashboard</h1>
        </div>

        <main>
            <div class="posts__counter">
                <h1>Posts</h1> 
                <span>0</span>
            </div>

            <div class="pending__counter">
                <h1>Pending Posts</h1>
                <span>0</span>
            </div>

            <div class="latest__post">
                <h1>Latest Post</h1>
                <div class="card">
                    <div class="card__img"></div>
                    <div class="card__content">
                        <h1 class="card__title"></h1>
                        <p class="card__description"></p>
                    </div>
                </div>
            </div>
        </main>
    </div>

    <script>
        document.querySelector('.btn')
            .addEventListener('click', () => {
                document.querySelector('.sidebar')
                    .classList.toggle('visible');
        });
    
    </script>

</body>
</html>

