<div class="sidebar">
    <div class="button"><i class="fas fa-align-left"></i></div>
    <div class="logo"><img src="https://avatars0.githubusercontent.com/u/38874366?s=460&v=4" alt=""></div>
    <h1 class="user">{{firstname}} {{lastname}}</h1>

    <ul class="menu">
        <li><a href="/"><i class="fas fa-home"></i> Home</a></li>
        <li><a href="/user/dashboard"><i class="fas fa-tachometer-alt"></i> Dashboard</a></li>
        <li><a href="/user/profile"> <i class="fas fa-user-circle"></i> User Profile</a></li>            
        <li><a href="/user/posts/create"><i class="fas fa-file"></i> New Post</a></li>
        <li><a href="/user/posts"><i class="fas fa-newspaper"></i> Posts</a></li>
        <li><a href="/user/settings"><i class="fas fa-cogs"></i> Settings</a></li>
    </ul>
</div>